u {
  text-decoration-color: #149ddd; }

.offcanvas {
  background: #171717;
  --bs-offcanvas-width: min(95vh, 250px) !important; }

.offcanvas img {
  width: 120px;
  height: auto;
  border: 8px solid #e2e2e2; }

.offcanvas h1 {
  font-size: 24px;
  margin: 15px 0px;
  padding: 0;
  font-weight: 600;
  text-decoration: underline; }
  .offcanvas h1 a {
    color: #e2e2e2;
    text-decoration: none; }

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #171717;
  color: #fefefe;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px; }

.nav-menu {
  padding: 30px 0 0 0;
  list-style: none; }
  .nav-menu a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 8px;
    font-size: 15px;
    color: #e2e2e2; }
    .nav-menu a i {
      font-size: 24px;
      padding-right: 8px; }
  .nav-menu .active i {
    color: #149ddd; }

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

#hero-section {
  background-image: url("../images/Striking Web Designs-logos.jpeg");
  height: 40vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.resume-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.section-title h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #d00000; }

.resume-title {
  text-decoration: underline; }

#skills-section {
  background: #e2e2e2; }
  #skills-section h3 {
    font-family: "Raleway", sans-serif; }
  #skills-section p {
    font-family: "Noto Sans", sans-serif; }

#portfolio-section {
  background: #e2e2e2; }

#aboutPhoto {
  margin: 15px 0px;
  border: 8px solid #e2e2e2; }

#about-section h3 {
  font-family: "Raleway", sans-serif; }

#about-section p {
  font-family: "Noto Sans", sans-serif; }

#about-section ul {
  font-family: "Noto Sans", sans-serif; }

#resume-section h3 {
  font-family: "Raleway", sans-serif; }

#resume-section .resume-item {
  font-family: "Poppins", sans-serif; }

#portfolio-section h3 {
  font-family: "Raleway", sans-serif; }

#portfolio-section p {
  font-family: "Noto Sans", sans-serif; }

#contact-section h3 {
  font-family: "Raleway", sans-serif; }

#contact-section p {
  font-family: "Noto Sans", sans-serif; }

#bx-bx-plus {
  margin-left: auto;
  margin-right: 0; }

#navbarClose {
  color: #e2e2e2;
  font-size: x-large; }

.modal-title {
  font-family: "Raleway", sans-serif; }

.modal-body {
  font-family: "Noto Sans", sans-serif; }
  .modal-body p {
    margin-top: 1rem;
    background-color: #e2e2e2;
    border: 2px solid;
    text-align: center; }

.modal-header,
.modal-footer {
  background-color: #e2e2e2; }

#navButton {
  background-color: #149ddd;
  border-radius: 50%; }

#projectImg2 {
  max-height: 30vh; }

.portfolio-wrap {
  text-align: center; }

footer {
  background-color: #171717;
  margin-top: 25px; }

.footer-title {
  color: #e2e2e2; }

.footer-links-container {
  padding-left: 60px; }

.footer-link,
.github,
.linkedin,
.facebook,
.instagram,
.btn-link {
  color: #149ddd; }

.nav-item,
a:hover {
  color: #149ddd !important; }

a:hover {
  transform: scale(1.2);
  color: #149ddd; }

button:hover {
  transform: scale(1.2); }

@media screen and (min-width: 1300px) {
  #hero-section {
    height: 45vh; } }

@media screen and (min-width: 1400px) {
  #hero-section {
    height: 90vh; } }
