u {
  text-decoration-color: #149ddd; }

.offcanvas {
  background: #040b14;
  --bs-offcanvas-width: min(95vh, 250px) !important; }

.offcanvas img {
  width: 120px;
  height: auto;
  border: 8px solid #149ddd; }

.offcanvas h1 {
  font-size: 24px;
  margin: 15px 0px;
  padding: 0;
  font-weight: 600;
  text-decoration: underline; }
  .offcanvas h1 a {
    color: #fff;
    text-decoration: none; }

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px; }

.nav-menu {
  padding: 30px 0 0 0;
  list-style: none; }
  .nav-menu a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 8px;
    font-size: 15px;
    color: #fff; }
    .nav-menu a i {
      font-size: 24px;
      padding-right: 8px; }
  .nav-menu .active i {
    color: #149ddd; }

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

#hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tacomaselfie.png");
  height: 50rem;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.hero-content h1 {
  text-align: center;
  padding-top: 45vh;
  color: #fefefe;
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

.resume-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.section-title h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #d00000; }

.resume-title {
  text-decoration: underline; }

#skills {
  background: #ced4da; }

#portfolio {
  background: #ced4da; }

#aboutPhoto {
  margin: 15px 0px;
  border: 8px solid #ced4da; }

#about-section h3 {
  font-family: "Raleway", sans-serif; }

#about-section p {
  font-family: "Noto Sans", sans-serif; }

#about-section ul {
  font-family: "Noto Sans", sans-serif; }

#skills h3 {
  font-family: "Raleway", sans-serif; }

#skills p {
  font-family: "Noto Sans", sans-serif; }

#resume h3 {
  font-family: "Raleway", sans-serif; }

#resume .resume-item {
  font-family: "Poppins", sans-serif; }

#portfolio h3 {
  font-family: "Raleway", sans-serif; }

#portfolio p {
  font-family: "Noto Sans", sans-serif; }

#contact h3 {
  font-family: "Raleway", sans-serif; }

#contact p {
  font-family: "Noto Sans", sans-serif; }

#bx-bx-plus {
  margin-left: auto;
  margin-right: 0; }

#navbarClose {
  color: #fff;
  font-size: x-large; }

.modal-title {
  font-family: "Raleway", sans-serif; }

.modal-body {
  font-family: "Noto Sans", sans-serif; }
  .modal-body p {
    margin-top: 1rem;
    background-color: #ced4da;
    border: 2px solid;
    text-align: center; }

.modal-header,
.modal-footer {
  background-color: #ced4da; }

#navButton {
  background-color: #149ddd;
  border-radius: 50%; }

#projectImg2 {
  max-height: 30vh; }

.portfolio-wrap {
  text-align: center; }

footer {
  background-color: #040b14;
  margin-top: 25px; }

.footer-title {
  color: #fefefe; }

.footer-link,
.github,
.linkedin,
.facebook,
.instagram,
.btn-link {
  color: #149ddd; }

a:hover {
  transform: scale(1.2); }

button:hover {
  transform: scale(1.2); }
